@font-face {
  font-family: 'gothampro-light';
  src: url('../fonts/gothampro-light-webfont.woff2') format('woff2'),
  url('../fonts/gothampro-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gothampro-black';
  src: url('../fonts/gothampro-black-webfont.woff2') format('woff2'),
  url('../fonts/gothampro-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gothampro-medium';
  src: url('../fonts/gothampro-medium-webfont.woff2') format('woff2'),
  url('../fonts/gothampro-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'webfontregular';
  src: url('../fonts/gothampro-bold-webfont.woff2') format('woff2'),
  url('../fonts/gothampro-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gothampro';
  src: url('../fonts/gothampro-webfont.woff2') format('woff2'),
  url('../fonts/gothampro-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gothampro-italic';
  src: url('../fonts/gothampro-italic-webfont.woff2') format('woff2'),
  url('../fonts/gothampro-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bebas_neuebold';
  src: url('../fonts/bebasneue_bold-webfont.woff2') format('woff2'),
  url('../fonts/bebasneue_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bebas_neueregular';
  src: url('../fonts/bebasneue-regular-webfont.woff2') format('woff2'),
  url('../fonts/bebasneue-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/*variables*/
$mainColor: #0260D8;

/*mixins*/
@mixin sectionTitle {
  font-family: 'gothampro-black', sans-serif;
  font-size: 30px;
  font-weight: 800;
  text-transform: uppercase;
  @media only screen and (max-width: 1499px) {
    font-size: 25px;
  }
}

@mixin goldTitle {
  font-family: 'bebas_neuebold', sans-serif;
  font-size: 80px;
  font-weight: 800;
  background: linear-gradient(to bottom, rgba(163, 106, 33, 1) 0%, rgba(235, 188, 61, 1) 30%, rgba(241, 224, 128, 1) 59%, rgba(206, 155, 32, 1) 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-bottom: 25px;
}

@mixin button {
  font-family: 'gothampro-black', sans-serif;
  font-size: 20px;
  font-weight: 900;
  color: white;
  background: $mainColor;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  text-align: center;
  padding: 16px 0;
  width: 100%;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.43) 12px 12px 70px;
}

@mixin sendForm {
  form {
    background: white;
    padding: 15px;
    .formTitle {
      font-family: 'gothampro-medium', sans-serif;
      font-size: 20px;
      font-weight: 600;
    }
    input {
      border: 1px solid #B1ABA8;
      height: 57px;
      border-bottom-right-radius: 100px;
      border-bottom-left-radius: 100px;
      border-top-right-radius: 100px;
      border-top-left-radius: 100px;
      font-family: 'gothampro-light', sans-serif;
      font-size: 20px;
      font-weight: 300;
      text-align: center;
      width: 70%;
      margin: 25px auto;
      display: block;
    }
    .button {
      height: 57px;
      border-bottom-right-radius: 100px;
      border-bottom-left-radius: 100px;
      border-top-right-radius: 100px;
      border-top-left-radius: 100px;
      font-family: 'gothampro-black', sans-serif;
      font-size: 20px;
      font-weight: 900;
      text-align: center;
      width: 70%;
      margin: 20px auto;
      display: block;
      color: white;
      background: $mainColor;
      box-shadow: rgba(0, 0, 0, 0.43) 12px 12px 70px;
    }
    .underText {
      font-family: 'gothampro-light', sans-serif;
      font-size: 14px;
      color: #3E3E3E;
      margin-top: 50px;
      text-align: center;
    }
  }
}

body {
  color: #232222;
}

.section2 {
  background: url("../img/bg2.jpg") no-repeat;
  background-size: cover;
  background-position: bottom;
  padding: 80px 0;
  position: relative;
  z-index: 20;
  .sectionTitle {
    @include sectionTitle;
  }
  .col-row {
    padding: 15% 0;
    .col-item {
      position: relative;
      .goldText {
        @include goldTitle;
        @media screen and (max-width: 1499px) {
          font-size: 45px;
        }
        .addText {
          font-size: 0.75em;
          font-stretch: condensed;
          letter-spacing: -6px;
          @media screen and (max-width: 1499px) {
            letter-spacing: -3px;
          }
        }
        .smallerText {
          font-size: 0.6em;
        }
      }
      .subText {
        font-family: 'gothampro-bold', sans-serif;
        font-size: 24px;
        line-height: 28px;
        font-weight: 800;
        color: $mainColor;
        width: 90%;
        position: absolute;
        letter-spacing: -2.1px;
        @media screen and (max-width: 1499px) {
          font-size: 16px;
          line-height: 19px;
        }
      }
      .botText {
        margin-top: -20px;
        right: 30px;
        text-align: right;
        @media screen and (max-width: 1499px) {
          margin-top: -35px;
        }
      }
      .topText {
        top: -50px;
        left: 15px;
        text-align: left;
        @media screen and (max-width: 1499px) {
          top: -22px;

        }
      }
    }
    .col-item:last-of-type {
      .topText {
        top: -22px;
        left: 15px;
        text-align: left;
      }
    }
  }
}

.section3 {
  padding: 80px 0;
  position: relative;
  z-index: -1;
  .sectionTitle {
    @include sectionTitle;
    margin-bottom: 100px;
    position: relative;
    z-index: -5;
  }
  .picBlock {
    text-align: center;
    padding-top: 50px;
    position: relative;
    z-index: -1;
    transform: translateY(-2000px);
    img {
      width: 257px;
      height: auto;
      border-radius: 50%;
      box-shadow: rgba(0, 0, 0, 0.43) 12px 12px 70px;
      display: block;
      margin: 0 auto;
      @media screen and (max-width: 1850px) {
        width: 190px;
      }
      @media screen and (max-width: 1499px) {
        width: 130px;
      }
    }
    .underText {
      font-family: 'gothampro-medium', sans-serif;
      font-size: 18px;
      font-weight: 600;
      line-height: 20px;
      margin-top: 20px;
      text-align: center;
    }
  }
  .picBlockAnim {
    animation-name: drop;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    &:nth-of-type(1) {
      animation-duration: 1.5s;
    }
    &:nth-of-type(2) {
      animation-duration: 2s;
    }
    &:nth-of-type(3) {
      animation-duration: 2.5s;
    }
  }
}

@keyframes drop {
  0% {
    transform: translateY(-2000px);
  }
  100% {
    transform: translateY(0px);
  }
}

.section4 {
  background: url("../img/bg4.jpg") no-repeat;
  background-size: cover;
  background-position: bottom;
  padding: 80px 0;
  .sectionTitle {
    @include sectionTitle;
    margin-bottom: 50px;
  }
  .row {
    margin: 50px 0;
    .picItem {
      img {
        width: 102px;
        height: auto;
        border-radius: 50%;
        box-shadow: rgba(0, 0, 0, 0.43) 12px 12px 70px;
      }
    }
    .textItem {
      display: table;
      height: 102px;
      padding: 0;
      p {
        font-family: 'gothampro-medium', sans-serif;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        margin: 0;
        display: table-cell;
        vertical-align: middle;
        letter-spacing: -0.4px;
      }
    }
  }
  .lineContainer {
    margin-top: 80px;
    h4 {
      font-family: 'gothampro-black', sans-serif;
      font-size: 32px;
      line-height: 48px;
      font-weight: 900;
      text-transform: uppercase;
      color: $mainColor;
      background: #ffffff;
      margin: 10px 0;
      &:nth-of-type(1) {
        color: #024493;
      }
      &:nth-of-type(2) {
        color: #0256ab;
      }
    }
  }
}

.section5 {
  padding: 80px 0;
  background: #F4F3F2;
  .sectionTitle {
    @include sectionTitle;
    margin-bottom: 50px;
  }
  .topRow {
    display: flex;
    justify-content: space-between;
    .topItem {
      width: 32%;
      .titleWrapper {
        background: white;
        .itemTitle {
          @include goldTitle;
        }
      }
      img {
        width: 100%;
        height: auto;
      }
      .description {
        padding: 28px;
        font-size: 18px;
        background: #ffffff;
        margin-top: 25px;
        height: 390px;
        .techName {
          font-family: 'gothampro-black', sans-serif;
          font-weight: 900;
          color: $mainColor;
          text-transform: uppercase;
          margin: 0;
          &:last-of-type {
            margin-top: 25px;
          }
        }
        .techText {
          font-family: 'gothampro-medium', sans-serif;
          font-weight: 600;
          margin: 0;
        }
        .subNme {
          font-family: 'gothampro-bold', sans-serif;
          font-weight: 700;
          margin-top: 15px;
          margin-bottom: 0;
          text-transform: uppercase;
        }
      }
      .button {
        @include button;
      }
    }
  }
  h5 {
    font-family: 'gothampro-bold', sans-serif;
    font-size: 36px;
    font-weight: 800;
    text-transform: uppercase;
    width: 100%;
    margin: 35px 0;
    text-align: center;
  }
}

.section6 {
  padding: 80px 0;
  background: url("../img/bg6.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  .sectionTitle {
    @include sectionTitle;
    padding-bottom: 80px;
  }
  .calcWrapper {
    background: rgba(255, 255, 255, 0.67);
    padding: 50px;
    margin-bottom: 35px;
    .calcTitle {
      font-family: 'gothampro-black', sans-serif;
      font-size: 36px;
      font-weight: 900;
      text-transform: uppercase;
      color: $mainColor;
      text-align: center;
    }
    .form-line {
      margin: 35px 0;
      padding-left: 30px;
      .paramName {
        display: inline-block;
        width: 46%;
        font-family: 'gothampro-medium', sans-serif;
        font-size: 30px;
        line-height: 32px;
        font-weight: 600;
        text-transform: uppercase;
        vertical-align: middle;
        margin: 0;
        span {
          font-size: 24px;
        }
      }
      .paramWide {
        width: 73%;
      }
      .inputWrapper {
        display: inline-block;
        width: 50%;
        label {
          position: relative;
          font-family: 'gothampro-medium', sans-serif;
          font-size: 30px;
          font-weight: 500;
          text-transform: uppercase;
          width: 49%;
          padding-left: 60px;
          .hiddenInput {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            &:checked + .checkmark {
              &:after {
                display: block;
              }
            }
          }
          .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 40px;
            width: 40px;
            background-color: #ffffff;
            border-radius: 50%;
            border: 1px solid #B1ABA8;
            transition: all 0.2s linear;
            &:hover {
              background: #ccc6c3;
            }
            &:after {
              content: "";
              position: absolute;
              top: 12px;
              left: 12px;
              border-radius: 50%;
              display: none;
              width: 15px;
              height: 15px;
              background: #B1ABA8;
            }
          }
          &:hover {
            .checkmark {
              background: #f1ebe8;
            }
          }
        }
        .performance {
          border: 1px solid #B1ABA8;
          height: 50px;
          border-bottom-right-radius: 100px;
          border-bottom-left-radius: 100px;
          border-top-right-radius: 100px;
          border-top-left-radius: 100px;
          font-family: 'gothampro-medium', sans-serif;
          font-size: 30px;
          font-weight: 500;
          text-transform: uppercase;
          color: #EC0606;
          text-align: center;
          width: 50%;
        }
        .inputParam {
          border: 1px solid #B1ABA8;
          height: 50px;
          border-bottom-right-radius: 100px;
          border-bottom-left-radius: 100px;
          border-top-right-radius: 100px;
          border-top-left-radius: 100px;
          font-family: 'gothampro-medium', sans-serif;
          font-size: 30px;
          font-weight: 500;
          text-transform: uppercase;
          color: #EC0606;
          text-align: center;
          width: 100%;
        }
        .priceResult {
          font-family: 'gothampro-black', sans-serif;
          font-size: 30px;
          font-weight: 900;
          color: #EC0606;
        }
      }
      .inputNarrow {
        width: 25%;
      }
    }
    .noPadding {
      padding-left: 15px;
    }
    .noMargin {
      margin: 5px 0;
    }
    hr {
      height: 3px;
      background: #B1ABA8;
    }
    .answer {
      font-family: 'gothampro', sans-serif;
      font-size: 30px;
      font-weight: 300;
      margin: 40px 0;
    }
    .smallNote {
      font-size: 24px;
      margin-top: 40px;
      margin-bottom: 0;
    }
    .result {
      @include goldTitle;
    }
    .button {
      @include button;
      width: 375px;
    }
    .calcResult {
      font-family: 'gothampro-bold', sans-serif;
      font-size: 24px;
      font-weight: 800;
      margin: 50px 0;
      letter-spacing: -1.5px;
      span {
        display: inline-block;
        vertical-align: middle;
        border: 1px solid #B1ABA8;
        background: white;
        border-bottom-right-radius: 100px;
        border-bottom-left-radius: 100px;
        border-top-right-radius: 100px;
        border-top-left-radius: 100px;
        font-family: 'gothampro-medium', sans-serif;
        font-size: 24px;
        font-weight: 500;
        text-transform: uppercase;
        color: #EC0606;
        text-align: center;
        padding: 0 10px;
      }
    }
  }
}

.section8 {
  padding: 80px 0;
  background: url("../img/bg8.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  .sectionTitle {
    @include sectionTitle;
    margin-bottom: 150px;
  }
  .iconRow {
    margin: 44px 0;
    &:last-of-type {
      .iconItem:last-of-type {
        margin-top: 92px;
      }
      .iconItem {
        float: right;
      }
    }
    .iconItem {
      float: left;
      width: 33.33%;
      text-align: center;
      position: relative;
      img {
        border-radius: 50%;
        box-shadow: rgba(0, 0, 0, 0.43) 12px 12px 70px;
      }
      .iconCaption {
        font-family: 'gothampro-medium', sans-serif;
        font-size: 18px;
        font-weight: 600;
        position: relative;
        margin: 16px 0;
      }
      .sidePull {
        right: 40px;
      }
    }
  }
}

.section9 {
  background: #F4F3F2;
  padding: 80px 0;
  .sectionTitle {
    @include sectionTitle;
  }
  #slickSlider {
    position: relative;
    width: 1500px;
    margin: 0 auto;
    padding: 80px 0;
    .sliderItem {
      position: relative;
      display: inline-block;
      background: white;
      width: 420px;
      padding: 35px;
      text-align: center;
      box-shadow: rgba(0, 0, 0, 0.43) 12px 12px 70px;
      margin: 45px;
      transform: scale(0.7, 0.7);
      transition: all 1s;
      img {
        border-radius: 50%;
        margin: 0 auto;
      }
      .reply {
        font-family: 'gothampro-italic', sans-serif;
        font-size: 24px;
        line-height: 28px;
        font-style: italic;
        font-weight: 300;
        color: #242424;
        margin-top: 90px;
      }
      .name {
        font-family: 'gothampro-medium', sans-serif;
        font-size: 24px;
        font-weight: 600;
        margin-top: 70px;
      }
      .address {
        font-family: 'gothampro', sans-serif;
        font-size: 24px;
        font-weight: 300;
        color: #242424;
        margin: 35px 0 70px 0;
      }
      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: white;
        opacity: 0.4;
      }
    }
    .slick-active,
    .slick-center {
      transform: scale(1, 1);
      transition: all 1s;
      &:after {
        display: none;
      }
    }
    .slick-arrow {
      position: absolute;
      top: 600px;
      width: 55px;
      height: 55px;
      border-bottom: 4px solid #8C8888;
      z-index: 99;
      transition: all 0.3s;
      &:hover {
        border-color: black;
      }
    }
    .slick-prev {
      left: 485px;
      border-left: 4px solid #8C8888;
      transform: rotate(45deg);
      &:before{
        opacity: 0;
      }
    }
    .slick-next {
      right: 485px;
      border-right: 4px solid #8C8888;
      transform: rotate(-45deg);
      &:before{
        opacity: 0;
      }
    }
  }
}

.section10 {
  padding: 80px 0;
  .sectionTitle {
    @include sectionTitle;
  }
}

.section11 {
  padding: 80px 0;
  background: url("../img/bg11.png") no-repeat;
  background-size: cover;
  .sectionTitle {
    @include sectionTitle;
    color: #FF0000;
    line-height: 50px;
    letter-spacing: -1.2px;
    padding-bottom: 70px;
  }
  .formBlock {
    @include sendForm;
  }
}

.section12 {
  background: #F4F3F2;
  padding: 80px 0;
  .sectionTitle {
    @include sectionTitle;
    margin-bottom: 80px;
  }

  #accordion {
    border-color: transparent;
    width: 100%;
    .card {
      border-color: transparent;
      background-color: transparent;
      .card-header {
        border-color: transparent;
        background-color: transparent;
        padding: 0;
        margin: 10px 0;
        .mb-0 {
          border-color: transparent;
          background: white;
          button {
            font-family: 'gothampro-black', sans-serif;
            font-size: 24px;
            font-weight: 900;
            color: $mainColor;
            text-transform: uppercase;
            padding: 0;
            white-space: normal;
            span {
              line-height: 50px;
              background: white;
              padding: 0 15px;
              display: inline-block;
              width: 100%;
              text-align: left;
            }
            span:last-of-type {
              position: absolute;
              right: -73px;
              top: 10px;
              color: #4C4949;
              width: 50px;
              height: 50px;
              margin-left: 15px;
              &:before {
                content: '';
                position: absolute;
                width: 70%;
                height: 12%;
                background: #4A4949;
                left: 15%;
                top: 45%;
              }
            }
            .plus {
              position: absolute;
              &:after {
                content: '';
                position: absolute;
                height: 70%;
                width: 12%;
                background: #4A4949;
                top: 15%;
                left: 45%;
              }
            }
          }
          .btn-link.focus, .btn-link:focus, .btn-link:hover {
            text-decoration: none;
          }
        }
      }
      .card-body {
        font-family: 'gothampro', sans-serif;
        font-size: 18px;
        font-weight: 500;
        background: white;
      }
    }

  }
  .subTitle {
    font-family: 'gothampro-black', sans-serif;
    font-size: 24px;
    font-weight: 900;
    color: #FC0629;
    text-transform: uppercase;
    margin-top: 50px;
  }
  .formBlock {
    @include sendForm;
    margin-top: 60px;
    padding-top: 30px;
  }
}

.footer {
  background: #363636;
  padding: 80px 0;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: url("../img/hands.jpg");
    background-size: cover;
  }
  .footTitle {
    font-family: 'gothampro-black', sans-serif;
    font-size: 24px;
    font-weight: 900;
    color: $mainColor;
    text-transform: uppercase;
  }
  .address {
    font-family: 'gothampro-medium', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 30px;
  }
  .phone {
    font-family: 'gothampro-medium', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-left: 115px;
    margin-top: 50px;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: 5px;
      left: -77px;
      width: 45px;
      height: 45px;
      background: url(../img/phone.png);
    }
  }
  .email {
    font-family: 'gothampro-medium', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: white;
    letter-spacing: 1px;
    margin-left: 115px;
    margin-top: 25px;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: -4px;
      left: -82px;
      width: 51px;
      height: 39px;
      background: url(../img/mail.png);
    }
  }
}

.panel {
  border-width: 0;
  border-top-width: 1px;
}

/*removing spinner for inputs*/
/* For Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  color: #6a6c6f;
}









































